
body
    background-color: #efefef

main
  padding:20px !important;
  padding-top: 20px !important;


.body-container
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  
  transition: all 0.5s linear
  
  .body-sidebar
    background: #fff
    border-right: 1px solid #d4d4d5;
    position: relative;
    z-index: 1;
    width: 250px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    transition: all 0.5s linear
    
    
  .body-content
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
    transition: all 0.5s linear

.removed {
  -webkit-animation: disapear 1s;
  -webkit-animation-fill-mode: forwards; 
  animation: disapear 1s;
  animation-fill-mode: forwards;
}

@keyframes disapear {
  0% {
    opacity: 1.0;
  }
  
  99% {
    width: 0px;
    opacity: 0.0;
  }
  
  100% {
    display: none
  }    
}

.slideout {
  -webkit-animation: slide 0.2s ease;
  -webkit-animation-fill-mode: forwards; 
  animation: slide 0.2s eae;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    bottom: -100%;
    opacity: 0.0;
  }
  
  100% {
    bottom: 0;
    opacity: 1;
  }    
}